body {
    background-color: #666666;
    font-family:  'Century Gothic';
}

#wrapper {
    width: 1000px;
    margin: 25px auto;
}

#menu {
    text-align: center;
    font-size: 20px;
    color: #99CCFF;
}

a:before {
    content:'\00B7';
    padding-right:5px;
    }

h1 {
    font-size: 50px;
    color: pink;
    text-align: center;
}

h2 {
    color: #FFA500;
    font-size: 20px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 17px;
    text-align: center;
    color: #9ACD32;
}

p, article {
    color: #D0D0D0;
    font-size: 20px;
}

p:before {
    content:'\00B7';
    padding-right:5px;

}

time {
    color: #9ACD32;
}

table, tr, td 
{
    text-align: justify;
    font-size: 20px;
    margin-left: 100px;
}

tr {
    height: 25px;
}

.choreTimer {
    width: 500px;
    height: 500px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    }
    
.places {
    width: 300px;
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}

#login, #signup {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    text-align: center;
    color: #D0D0D0;
}

.error {
    color: #FF0066;
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

